body {
    position: relative;
    margin: 0;
    background-color: #A7F0F0;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 600px;
    background-size: 50%;
    height: 50px;
    padding: 25px;
    text-align: center;
    justify-content: center;
    display: inline-flexbox;
}

#nTarjeta {
    position: absolute;
    width: 353px;
    height: 67px;
    margin-top: -25%;
    margin-left: -32%;
    background: #F5EFEF;
    font-size: 20px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-align: center;

    color: #000000;
}


#instruccion {
    position: absolute;
    width: 369px;
    height: 60px;
    top: 50%;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    margin-left: 50px;
    color: #000000;
    left: 43%;
    transform: translateX(-50%);
}

.div2 {
    top: -100px;

}


#tituloInicio {
    position: absolute;
    width: 391px;
    height: 68px;
    margin-left: 83px;
    margin-right: auto;
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3em;
    margin-top: -77%;
    color: #000000;

}

#tarjetaImg {
    margin-top: -10%;
}

.todo {
    position: absolute;
    box-sizing: content-box;
    background-color: #B1C8F3;
    width: 100%;
    max-width: 528px;
    min-width: 528px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px;
    display: table-column-group;
    flex-direction: row;
    justify-content: center;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, 1, 0, 0);
    height: 615px;
    width: 528px;
    left: auto;

    border-radius: 7px;
    Fill: Solid
}



#ej {
    position: absolute;
    width: 361px;
    height: 28px;
    margin-top: -15%;
    margin-left: 15%;
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #000000;
}

p {
    margin: 0;
}

#btn1 {
    position: absolute;
    width: 194px;
    height: 52px;
    background: #DABE2B;
    margin-left: 0%;
    margin-right: auto;
    box-shadow: 2px 2px 3px;
    margin-top: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #000000;
    border-radius: 7px;
    padding: -200px;
    margin: auto;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {

    -moz-appearance: textfield;

}





.div5 {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;

}



/*#caja1{
        position: absolute;
        width: 311px;
        height: 168px;
        
        background: #B1C8F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
    }*/