body {
    position: relative;
    margin: 0;
    background-color: rgba(218, 220, 220, 0.445);
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 600px;
    background-size: 50%;
    height: 50px;
    padding: 25px;
    text-align: center;
    justify-content: ce;
    display: inline-flexbox;
}

#tarjetaImg {
    margin-top: -350px;
    margin-bottom: 20px;
    margin-left: -100px;
    padding: -50px;
}

.cajaAzul {
    margin-top: -100px;
}

.div1 {}

.div2 {
    margin-top: -20px;
    position: relative;
    width: auto;
    height: 51px;
    margin: 10px;
    margin-top: 10px;
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;

    color: #080757;

}


.instru {
    position: relative;
    width: 368px;
    height: 51px;
    margin: 10px;
    margin-top: 125px;
    margin-left: -160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;

    color: #080757;
}

.boxEnTarjeta {

    margin-top: 200px;
    margin-bottom: -180px;
    margin-left: auto;
    margin-right: auto;

}

#tituloInicio {
    width: 300px;
    margin-left: 120px;
    margin-right: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3em;

}


.todo {
    position: absolute;
    box-sizing: content-box;
    background-color: #B1C8F3;
    width: 100%;
    max-width: 200px;
    min-width: 300px;
    height: 300px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    margin-top: 150px;
    box-shadow: 5px 5px 10px;
    display: table-column-group;
    flex-direction: row;
    justify-content: center;

}

.div3 {

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.3em;
    color: red;
    text-shadow: 1px 1px 1px rgb(137, 5, 5);
    margin-top: -35px;
    margin-bottom: 2px;

}




p {
    margin: 0;

}

#btn1 {
    position: ;
    width: 200px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px;


    background: #DABE2B;
    flex: 1;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.3em;
    border-radius: 10px;
    color: #000000;
    padding: -200px;
    margin: auto;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {

    -moz-appearance: textfield;

}





.div5 {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;

}



/*#caja1{
        position: absolute;
        width: 311px;
        height: 168px;
        
        background: #B1C8F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
    }*/